
html, body {
  width            : 100%;
  height           : 100%;
  margin           : 0;
  display          : flex;
  flex-wrap: wrap;
  background-image: url('../img/back.png');
  overflow         : hidden;
  box-shadow: inset 0px 0px 25px 0px #000;
}
canvas {
  margin : auto;
  box-shadow: 0px 0px 10px 0px #000;
}

@font-face {
  font-family : "rcr";
  src         : url("../font/RCR.ttf");
}